@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #898989;
    height: 100vh;
    width: 100%;
}
.wrapper{
    background-color: white;
    box-shadow: 1px 1px 5px;
    border-radius: 10px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
h1{
    padding: 30px 0px 10px 0px;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    padding: 30px;
}
input{
    padding: 5px;
    background-color: #CCCCCC;
    border: none;
    border-radius: 10px;
    width: 270px;
}
legend{
    padding-bottom: 5px;
}
fieldset{
    margin: 15px;
    border: none;
}
input:focus{
    outline: olive 2px solid;
    border: none;
}
@media (max-width: 560px){
    .wrapper{
        padding: 0px;
    }
    input{
        width: 230px;
    }
    h1{
        font-size: 25px;
    }
    legend{
        font-size: 14px;
    }
}